rm -Rf dist
export PEEK_KEYSTORE_LOCATION=path/to/peek_play_keystore
export PEEK_KEYSTORE_PASSWORD='keystore-password-here'
export PEEK_KEY_ALIAS='peek'
export PEEK_KEY_PASSWORD='key-password'
cd ./Application
./gradlew assemblePlaystoreRelease
cd ../
mkdir -p dist
cp Application/LinkBubble/build/outputs/apk/playstore/release/LinkBubble-playstore-release.apk dist/
